<div class="item">
                <div>Avatar URL</div>
                <div>
                    <input 
                        type="url"
                        name="avatar_url"
                        placeholder="https://"
                        value="{{ instructor.avatar_url }}"
                    >
                </div>
            </div>

            <div class="item">
                <div>Instrutor</div>
                <div>
                    <input 
                        type="text"
                        name="name"
                        placeholder="Nome do instrutor"
                        value="{{ instructor.name }}"
                    >
                </div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input 
                        type="date"
                        name="birth"
                        value="{{ instructor.birth }}"
                    >
                </div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>
                    <select name="gender">
                        <option value="M" {% if instructor.gender == "M" %} selected {% endif %}>Masculino</option>
                        <option value="F" {% if instructor.gender == "F" %} selected {% endif %}>Feminino</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="services" 
                    placeholder="Separe os serviços prestados por vírgula"
                    value="{{ instructor.services }}"
                    >
                </div>
            </div>

            <button type="submit">Salvar</button>